# Django
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/
.env

# Virtual Environment
venv/
.venv/
env/
ENV/

# IDEs & Editor configs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# OS files
.DS_Store
Thumbs.db
